body {
  margin: 0;
  padding: 0;
}


.pantalla {
  max-height: 90vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7fr 3fr;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  }
  
  .areaCalculo { grid-area: 1 / 1 / 2 / 2; }
  .teclado { grid-area: 2 / 1 / 3 / 2; }

  @media (orientation: landscape) {
    .pantalla{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      }
      
      .areaCalculo { grid-area: 1 / 1 / 2 / 2; }
      .teclado { grid-area: 1 / 2 / 2 / 3; }
    }

/* empezamos el css del teclado */

.teclado {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  }
  
  .boton7 { grid-area: 1 / 1 / 2 / 2; }
  .boton8 { grid-area: 1 / 2 / 2 / 3; }
  .boton9 { grid-area: 1 / 3 / 2 / 4; }
  .boton4 { grid-area: 2 / 1 / 3 / 2; }
  .boton5 { grid-area: 2 / 2 / 3 / 3; }
  .boton6 { grid-area: 2 / 3 / 3 / 4; }
  .boton1 { grid-area: 3 / 1 / 4 / 2; }
  .boton2 { grid-area: 3 / 2 / 4 / 3; }
  .boton3 { grid-area: 3 / 3 / 4 / 4; }
  .botonCE { grid-area: 4 / 1 / 5 / 2; }
  .boton0 { grid-area: 4 / 2 / 5 / 3; }
  .botonIntro { grid-area: 4 / 3 / 5 / 4; }


/* terminamos el css del teclado */

.areaCalculo {
  display: grid;
  grid-template-columns: 25px repeat(3, 1fr) 25px;
  grid-template-rows: 50px 1fr 50px 1fr 50px;
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  }
  
  .cifra1 { grid-area: 2 / 2 / 3 / 3; }
  .simbolo { grid-area: 2 / 3 / 3 / 4; }
  .cifra2 { grid-area: 2 / 4 / 3 / 5; }
  .resultado { grid-area: 4 / 2 / 5 / 5; }


.areaCalculo {
      /* Fuente del número */
      font-family: Arial, sans-serif;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
}


/* Estilo del botón */
.boton, .botonEspecial {
    /* Fondo grisáceo */
    background-color: #d3d3d3;
    /* Número en negro */
    color: black;
    /* Borde redondeado */
    border: 2px solid #a9a9a9;
    border-radius: 10px;
    /* Sombra */
    box-shadow: 3px 3px 5px #888888;
    /* Tamaño del botón */
    height: 50px;
    /* Fuente del número */
    font-family: Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    /* Alineación del número */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Efecto al pasar el ratón */
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* Efecto al pasar el ratón */
  .boton:hover {
    /* Cambiar el color de fondo */
    background-color: #a9a9a9;
    /* Cambiar el color del borde */
    border-color: #d3d3d3;
    /* Cambiar el color del número */
    color: white;
    /* Cambiar la sombra */
    box-shadow: 0 0 10px #ffffff;
    /* Cambiar el tamaño del botón */
    transform: scale(1.1);
  }
  